<div class="page-header">
  <h1>Entry list<br/>
  <small>All your timetracker entries.</small></h1>
  
  <%= link_to "Add a new entry", new_entry_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Entry date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Total time</th>
    <th>Status</th>
    <th>Client / Job</th>
    <th>Invoice date</th>
    <th></th>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.entry_date.to_formatted_s(:long) %></td>
        <td><%= format_time entry.start_time %></td>
        <td><%= format_time entry.end_time %></td>
        <td><%= entry.total_time %></td>
        <td><%= entry.status %></td>
        <td><%= entry.invoice.job.client.company %> / <%= entry.invoice.job.job_name %></td>
        <td><%= entry.invoice.invoice_date.to_formatted_s(:long) %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_entry_path(entry), class: "btn btn-primary btn-sm" %>
          <%= link_to "View", entry_path(entry), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>