<!DOCTYPE html>
<html lang="en" data-ng-app="timetracker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Timetracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "layouts/alerts" %>

  <%= render partial: "layouts/navbar" %>

  <div class="container">
    <!-- <div data-ng-view></div> -->
    <div ui-view></div>
  </div> <!-- end container -->

  <%= javascript_include_tag "application" %>

</body>
</html>
